<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    <nav class="group">
      <div class="wrapper">
        {% if site.title and site.title != page.title %}
           <a href="{{ "/" | absolute_url }}">{{ Overview }}</a>
        {% endif %}
        {% assign navigation_pages = site.html_pages | sort: 'nav_include' %}
        {% for node in navigation_pages %}
                {% if node.nav_include %}
                    {% if page.url == node.url %}
                      &nbsp;|&nbsp;<a class="active" href="{{node.url | prepend: site.baseurl}}" class="active" style="color:#b4d5fe">{{node.title}}</a>
                    {% else %}
                      &nbsp;|&nbsp;<a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
                    {% endif %}
                {% endif %}
        {% endfor %}
      </div>
    </nav>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
